---
import Icon from "./Icon.astro";
import type { StarlightIcon } from "../components/Icons";
import type { AstroIntegration } from "astro";

interface Props {
	icon?: StarlightIcon;
	iconSize?: string;
	title?: string;
	titleStyle?: string;
	bodyStyle?: string;
}

const { 
	icon,
	title,
	iconSize = "1.4em",
	titleStyle = "font-size:4rem",
	bodyStyle = "font-size:24px"
} = Astro.props;
---

<article class="card sl-flex">
   <p class="title sl-flex">
      {icon && <Icon name={icon} class="icon" size={iconSize}/>}
      {title && <span set:html={title} style={titleStyle}/>}
   </p>
   <div class="body" style={bodyStyle}>
      <slot />
   </div>
</article>

<style>
	@layer starlight.components {
		article.card {
			--sl-card-color: var(--sl-card-border-1);
		}
		.card:nth-child(n + 1) {
			--sl-card-color: var(--sl-color-yellow);
			border: 1px solid var(--sl-card-color);
		}
		.card:nth-child(n + 2) {
			--sl-card-color: var(--sl-color-purple);
			border: 1px solid var(--sl-card-color);
		}
		.card:nth-child(n + 3) {
			--sl-card-color: var(--sl-color-blue);
			border: 1px solid var(--sl-card-color);
		}
		.card .icon {
			border: 2px solid var(--sl-card-color);
			background-color: hsl(from var(--sl-card-color) h s calc(l - 42));
			margin: 0.4em; 
			padding: 0.1em;
			border-radius: 0.5rem;
			flex-shrink: 0;
		}
		.title {
			font-weight: 600;
			font-size: var(--sl-text-h1);
			color: var(--sl-color-white);
			line-height: var(--sl-line-height-headings);
			gap: 1rem;
			text-align: center;
			align-items: center;
		}
		.card .body {
			margin: 0;
			font-size: clamp(var(--sl-text-body), calc(1.5rem + 1vw), var(--sl-text-body));
			font-weight: 600;
			line-height: 1.2;
		}
	}
</style>
